.main {
  background-color: rgb(47, 47, 47);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 20;

  width: 90vw;
  max-width: 640px;

  color: white;
}
.form {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.form input {
  /* background-color: silver; */
  margin: 10px 0;
}

/* INPUT */
.input-border {
  border-color: white !important;
}

.inputLabel {
  color: white !important;
}

.helper-text {
  /* text-transform: initial; */
  font-size: 1rem !important;
}


.btn {
  /* border: 1px solid green; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
}



.main h1 {
  text-align: center;
}

.textarea {
  width: 90%;
}

