@import url('https://fonts.googleapis.com/css2?family=Abel&family=Audiowide&family=Michroma&family=Orbitron:wght@800;900&family=Play:wght@400;700&family=Space+Grotesk:wght@300;400;500;700&family=Space+Mono&display=swap');


:root {
  --primary-color: rgb(56, 56, 206);
  --secondary-color: rgb(53, 151, 242);
  --text-color: black;
  --secondar-text-color: grey;

  --font1: 'Abel', sans-serif;
  --font2: 'Play', sans-serif;
  --font3: 'Space Grotesk', sans-serif;
  --font4: 'Space Mono', monospace;
  --font5:  'Orbitron', sans-serif;
  --font6: 'Audiowide', cursive;
  --font7: 'Michroma', sans-serif;

}

body, html {
  /* background-color: black; */
  padding: 0;
  margin: 0;

  font-family: var(--font3);
}

.view {
  opacity: 1;
  pointer-events: visible;
}
.hide {
  opacity: 0;
  pointer-events: none;
}





