.navbar {
  background-color: aquamarine;
  height: 150px;
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
}
.navbar * {
  background-color: rgb(127, 176, 255);
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
}
.navItems {
  background-color: antiquewhite;
}

.footer {
  background-color: grey;
  height: 150px;
}